<li class="item">
  <%= link_to 'Questions', questions_path %>
</li>
<li class='item'>
  <%= link_to 'Sign in', new_user_session_path %> 
</li>
<li class='item'>
  <%= link_to 'Sign up', new_user_registration_path %> 
</li>